__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.db
*.db
*.sqlite
rapport.txt
diff_report.html
*.xlsx
*.zip
.vscode/
.idea/
.DS_Store
*.config.txt
inventory_*.json
last_inventory.json
